<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazaarly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"></head>
<body>
    <header>
        <div class="logo">
            <h1>BAZAARLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos">
            <button><i class="bi bi-search"></i></button> <!-- Ícone de pesquisa substituindo a imagem -->
        </div>
        <div class="header-icons">
            <i class="bi bi-person"></i> <!-- Ícone de pessoa -->
            <i class="bi bi-cart"></i> <!-- Ícone de carrinho -->
            <i class="bi bi-heart"></i> <!-- Ícone de lista de desejos -->
            <i class="bi bi-headset"></i>
            <i class="bi bi-globe"></i> <!-- Ícone de globo -->
            <i class="bi bi-arrow-left-circle"></i>
            <a href="ct-produto"><i class="bi bi-arrow-right-circle"></i></a>
        </div>
    </header>
    
    

    <nav>
        <ul>
            <li>Mobílias</li>
            <li>Joias e Acessórios</li>
            <li>Sapatos</li>
            <li>Roupas de Bebê</li>
            <li>Roupas Femininas</li>
            <li>Roupas Masculinas</li>
            <li>Esportes</li>
            <li>Itens de Casa</li>
            <li>Tecnologia e Eletrônicos</li>
            <li>Livros</li>
        </ul>
    </nav>

    <main>
        <section class="promotion-banner">
            <h2>Descubra as mais recentes tendência de pequenas lojas!</h2>
            <div class="highlighted-categories">
                <div class="category-card">
                    <img src="https://lh4.googleusercontent.com/proxy/ifXWh5ZfowQ-KY6MbrIE6NJ8F40VTHPokVfacQFrmgkvK5cFtPmU7hxem3kY2KvfEciOdmzwbek_arAIppYHrCn2gAsY26R9ZnQuuNkVDmQJ8UDeLrGI3kkCU-dcMT48AA" alt="Produtos de casa">
                    <p>Produtos de casa com alto requinte</p>
                </div>
                <div class="category-card">
                    <img src="https://conteudo.solutudo.com.br/wp-content/uploads/2019/10/LORIS2.jpg" alt="Joias">
                    <p>Joias em bons estados</p>
                </div>
                <div class="category-card">
                    <img src="https://cantinhodosonho.com.br/cdn/shop/files/Sfe12187b958c40358625faedabebd8b6U_800x.webp?v=1717101659" alt="Roupas de bebê">
                    <p>Roupas de bebê em 10x</p>
                </div>
                <div class="category-card">
                    <img src="https://down-br.img.susercontent.com/file/sg-11134201-22120-bb1r7gdrsmkvaf" alt="30% em conjuntos">
                    <p>30% em conjuntos</p>
                </div>
            </div>
        </section>
    
        <section class="promotion-main">
            <div class="promo-content">
                <div class="promo-content">
                    <img src="https://marketplace.canva.com/EAE9DQj6Sb8/2/0/1131w/canva-pre%C3%A7o-%C3%BAnico-cartaz-wgFISba_1MU.jpg" alt="Promoção"/> <!-- Substitua pela URL da imagem -->
                </div>
            </div>
        
            <div class="product-grid">
                <div class="product-card">
                    <img src="https://cdn.awsli.com.br/2500x2500/755/755242/produto/244733570/sandalia-flatform-off-white-com-tiras-brilhantes-1-rca3mwa79a.jpg" alt="Sandália">
                    <p>SANDÁLIA FEMININA TAMANHO FLAT FIVELA</p>
                    <p><strong>R$ 15,90</strong></p>
                    <span class="discount">10x sem juros</span>
                </div>
                <div class="product-card">
                    <img src="https://m.media-amazon.com/images/I/61WXXeDFcnL.jpg" alt="Câmera">
                    <p>CÂMERA INSTANTÂNEA INSTAX MINI 7</p>
                    <p><strong>R$ 50,00</strong></p>
                    <span class="discount">10x sem juros</span>
                </div>
                <div class="product-card">
                    <img src="https://d1taioma509ygp.cloudfront.net/Custom/Content/Products/13/20/132083_calca-feminina-fallen-tactel-cargo-ripstop-verde_m1_638221847579772368.jpg" alt="Calça">
                    <p>CALÇA FEMININA ESTAMPADA</p>
                    <p><strong>R$ 31,90</strong></p>
                    <span class="discount">Frete Grátis</span>
                </div>
                <div class="product-card">
                    <img src="https://shoppingcity.com.br/media/catalog/product/cache/51a80c9da94f85ac42b65ba251e9fd91/c/a/camisa_feminina_branca_manga_longa.jpg" alt="Camisa">
                    <p>CAMISA DE MANGA COMPRIDA ESTAMPADA</p>
                    <p><strong>R$ 21,30</strong></p>
                    <span class="discount">Frete Grátis</span>
                </div>
            </div>
        </section>
        
    </main>
    <br> <br>
    

    <footer>
        <div class="footer-section">
            <h3>DÚVIDAS</h3>
            <ul>
                <li>Acompanhe seus pedidos</li>
                <li>Dúvidas frequentes</li>
                <li>Trocas e devoluções</li>
            </ul>
            <!-- Ícones de Visa e Mastercard -->
            <i class="fa-brands fa-cc-visa payment-icon"></i>
            <i class="fa-brands fa-cc-mastercard payment-icon"></i>
        </div>
        
    
        <div class="footer-section">
            <h3>INSTITUCIONAL</h3>
            <ul>
                <li>Quem somos?</li>
                <li>Política de Privacidade</li>
                <li>Trabalhe conosco</li>
            </ul>
        </div>
    
        <div class="footer-section">
            <h3>FALE CONOSCO</h3>
            <p><i class="fas fa-phone"></i> (82) 91234-5678</p> <br> <!-- Ícone de telefone -->
            <p><i class="fas fa-envelope"></i> bazaarly@loja.com.br</p> <!-- Ícone de e-mail -->
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    
</body>
</html>